$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

$lightpaleblue: hsla(225, 100%, 94%, 0.4);
$ligthbrightblue: hsla(245, 75%, 52%, 0.75);